<!--
Group project
Comp 229 Sec003
Winter 2022
-->

<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h2><%= title %></h2>
        <br>
        <div>
        
            <a href="/survey/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new survey
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">College</th>
                    <th class="text-center">Program</th>                    
                    <th class="text-center">Delivery</th>
                    <th class="text-center">Complexity</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < surveys.length; count++) { %>
                    <tr>
                        <td class="text-center">
                            <a href="/survey/details/<%= surveys[count]._id %>">
                                <%= surveys[count].Title %>
                            </a>
                        </td>
                        <td class="text-center"><%= surveys[count].College %></td>
                        <td class="text-center"><%= surveys[count].Program %></td>
                        <td class="text-center"><%= surveys[count].Delivery %></td>
                        <td class="text-center"><%= surveys[count].Complexity %></td>
                        
                        <td class="text-center">
                            
                            <a href="/survey/edit/<%= surveys[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            
                            <a href="/survey/delete/<%= surveys[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>